.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  position: relative;
}

.spinner {
  animation-name: spinner;
  animation-duration: .6s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  color: var(--blue);
  font-size: 40px !important;
  opacity: .6;
}

@keyframes spinner {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}

.titleImg {
  width: calc(100% - var(--unit));
  height: 140px;
  max-width: 400px;
  object-fit: contain;
  margin-bottom: var(--unit);
  z-index: 2;
  position: relative;
}